<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DLN Stock Exchange</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
<div id="London" class="city">
  <h2>DLN STOCK EXCHANGE</h2>
  <p>Buy and Sell your stocks here</p>
</div>

<a href="/stock-list/">MY STOCKS</a>
<a href="/stock-buy/">BUY STOCKS</a>
<a href="/stock-sell/">VIEW STOCKS</a>
<a href="/stock-sell/">SELL STOCKS</a>

<p>View specific stock: insert number after the url (e.g. /stock-details/1)</p>
<p>Selling stock: insert number after the url (e.g. /stock-sell/1)</p>
</body>
</html>